{% include "header.html" %}

  <main id="main" class="main">


    <section class="section">
      <div class="row">
        <div class="col-lg-6">

  
            
            </div>
          </div>

    

            </div>
          </div>
  

            </div>
          </div>
  
            </div>
          </div>
    

            </div>
          </div>

        </div>
      </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Previous Records</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Time of Completion</th>
                    <th scope="col">Date of Compeletion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Completed 10 push ups</td>
                    <td>11:05:07</td>
                    <td>23-02-23</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Pending Personality Development Session</td>
                    <td>Yet to complete</td>
                    <td>Pending</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Completed a Nutrition Test</td>
                    <td>06:31:56</td>
                    <td>22-02-23</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Missed an Virtual Session</td>
                    <td>Incomplete</td>
                    <td>Incomplete</td>
                    
                  </tr>
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

            </div>
          </div>
           

            </div>
          </div>
         
            
                  </tr>
                </tbody>
              </table>
        

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}